@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif bold;
    font-size: 102%;
}

body {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background-image: url(../imagens/Principal/fondo.png);
    background-attachment: fixed
}

header {
    display: flex;
    justify-content: center;
    background-color: #40495a;
    width: 100%;
}

footer{
    background-color: #40495a;
}

.navigation {
    position: relative;
    height: 700px;
    width: 55px;
    background-color: #222831;
    box-shadow: 10px 0 0 #40495a;
    border-left: 1px solid #222831;
    overflow: hidden;
    transition: width 0.5s;
    border-radius: 1px;
}

.navigation:hover {
    width: 97%;
}

.navigation ul {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 0px;
    padding-top: 20px;
}

.navigation ul li {
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
}

.navigation ul li.active {
    background-color: #40495a;
}

.navigation ul li a {
    position: relative;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #FFF;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    min-height: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
    padding-left: 20px;
}

.navigation ul li a .icon ion-icon {
    position: relative;
    font-size: 1.7em;
    z-index: 1;
}

.navigation ul li a .title {
    position: relative;
    display: block;
    padding-left: 10px;
    height: 60px;
    line-height: 60px;
    white-space: nowrap;
}

.font {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.4em;
}